---
---

@import "{{ site.theme }}";

img {
  border: 1px solid black;
  margin-bottom: 30px;
}

.sub-page > .page-header {
  padding: 0.2rem 6rem;
}

.sub-page section.main-content {
  max-width: unset;
}

.main-content hr {
  height: 1px;
  background-color: #a5a5a5;
}

.site-footer {
  display: none;
}

a.homepage {
  position: absolute;
  width: 50px;
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 20px 0 0 0;
  height: 50px;
  // background-color: white;
  // border-radius: 50%;
  display: block;
  background-image: url("/img/home-white.png");
}
