---
---

@import "{{ site.theme }}";

img {
  // border: 1px solid black;
  margin-bottom: 30px;
}

.cps-page .main-content:first-child {
  font-size: 0;
}

.sub-page > .page-header {
  padding: 0.2rem 6rem;
  padding-bottom: 0.6rem;
}

.sub-page.cps-page > header {
  background-color: #111b1e;
  background-image: unset;
}

.sub-page.cps-page > h1.project-name {
  margin-bottom: 10px;
}

.sub-page section.main-content {
  max-width: unset;
  padding: 0;
}

.main-content img {
  width: 100%;
  margin: 0;
}

.site-footer {
  display: none;
}

.project-tagline {
  margin-bottom: 1em;
}

div.top-btn-container {
  position: absolute;
}

a.top-icon:hover {
  border: 1.5px solid white;
}

a.top-icon {
  position: relative;
  width: 3.25rem;
  background-size: 80%;
  background-position: center;
  border-radius: 50%;
  transition: border 50ms ease-out;
  background-repeat: no-repeat;
  margin: 13px 0 0 0;
  height: 3.25rem;
  display: inline-block;
  z-index: 10;
}

a.homepage {
  background-image: url("/img/home-white.png");
}

a.ghpage {
  margin: 13px 0 0 10px;
  background-image: url(/img/gh-icon.png);
}

@media screen and (max-width: 64em) and (min-width: 42em) {
  a.top-icon {
    width: 2.25rem;
    height: 2.25rem;
  }
}

@media screen and (max-width: 42em) {
  a.top-icon {
    width: 1.75rem;
    height: 1.75rem;
  }
}
