@import "{{ site.theme }}";

img {
  // border: 1px solid black;
  margin-bottom: 30px;
}

.sub-page > .page-header {
  padding: 0.2rem 6rem;
}

.sub-page-CPS > header {
  background-color: #111b1e;
}

.sub-page-CPS > h1.project-name {
  margin-bottom: 10px;
}

.sub-page section.main-content {
  max-width: unset;
  padding: 0;
}

.main-content :first-child {
  margin: 0;
  font-size: 0;
}

.main-content img {
  width: 100%;
  margin: 0;
}

.site-footer {
  display: none;
}

a.homepage:hover {
  border: 1.5px solid white;
}

.project-tagline {
  margin-bottom: 1em;
}

a.homepage {
  position: absolute;
  width: 3.25rem;
  background-size: 80%;
  background-position: center;
  border-radius: 50%;
  transition: border 50ms ease-out;
  background-repeat: no-repeat;
  margin: 13px 0 0 0;
  height: 3.25rem;
  display: block;
  background-image: url("/img/home-white.png");
  z-index: 10;
}
