<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/img/Favicon1.png">
  </head>
  <body class="sub-page">

    <header class="page-header" role="banner">
      <a class="top-icon homepage" href="/"></a>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <section id="content" class="main-content" role="main">
      {{ content }}
    </section>
    <footer class="page-footer">
      <div class="contact-container">
        <a href="mailto:akashlodha2@gmail.com">
          <div title="Email" class="footer-icon gmail"></div><span>
          Email me</span>
        </a>
        <a href="https://www.linkedin.com/in/akashlodha10">
          <div title="LinkedIn" class="footer-icon linkedin"></div><span>
          LinkedIn</span>
        </a>
        <a href="https://github.com/akashlodha2">
          <div title="Github" class="footer-icon github-logo-black"></div><span>
          Github</span>
        </a>
      </div>
    </footer>
  </body>
</html>